
.heading {
  display: flex;
  align-items: center;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--foregroundColor);
}
